.slider-main {
    max-width: 1440px;
    background-color: #fff8f8;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;

}

.slider-containor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#first h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 1200;
    display: inline;
    color: rgb(49, 49, 49);
}

#first h3 span {
    display: block;
}

#first p {
    margin-top: 10px;
}

#first button {
    margin-top: 15px;
}


#first {
    padding: 20px;
    width: 500px;
}

#second {
    padding: 15px;
    width: 740px;
}

@media (max-width: 768px) {
    .slider-containor {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    #first h3 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 1200;
        display: inline;
        color: rgb(49, 49, 49);

    }

    .swiper-slide {
        padding: 5px;
    }


}

@media (max-width: 640px) {
    .slider-containor {
        grid-template-columns:  1fr;
        gap: 2px;
    }

    #first h3 {
        font-size: 40px;
        line-height: 60px;
        font-weight: 1200;
        display: inline;
        color: rgb(49, 49, 49);

    }


    #first {
        padding: 20px;
        width: 320px;
        margin-right: 20px;
    }

}